/* Navigation */
header {
  background-color: var(--sct-espresso);
}
header .navbar {
  background-color: var(--sct-espresso);
}
.navbar .container-fluid {
  padding: 0;
}
.navbar-logo {
  width: 100%;
  max-width: 250px;
}
header.nav-link:focus,
header.nav-link:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.navbar-nav .nav-item {
  padding: 0 1rem;
}

/* Footer */
footer {
  color: var(--sct-beige);
  background-color: var(--sct-espresso);
}
footer h4 {
  color: var(--sct-silver);
}
.footer-top {
  background-color: var(--sct-roasted);
  padding: 3rem;
}
.footer-logo {
  max-width: 300px;
}
.footer-social-icon {
  background-color: var(--sct-beige);
}
@media (max-width: 360px) {
  .footer-top { padding: 3rem 1rem; }
}

/* Media Queries */

/* Size - Extra Small (XS: <576) */
@media (max-width: 575px) {
  /* Header Section */
  .navbar-logo {
    width: 100%;
    max-width: 200px;
  }
  .navbar { text-align:center; }
}

/* Size - Small (SM: 576-768) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Header Section */
  .navbar { text-align:center; }
}

/* Size - Medium (MD: 768-992) */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar { text-align:center; }
}

/* Size - Large (LG: 992-1200) */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar { text-align:center; }
}

/* Size - Extra Large (XL: 1200-1400) */
@media (min-width: 1200px) and (max-width: 1399px) {
  header .nav-link, header .dropdown-item { font-size: 1rem; }
}

/* Size - 2x Extra Large (XXL: >1400) */
@media (min-width: 1400px) {}