/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navigation */
header.nav-link:focus[b-enjgr9t7sp], header.nav-link:hover[b-enjgr9t7sp] {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.navbar .container-fluid[b-enjgr9t7sp] {
  padding: 0;
}
.navbar-nav .nav-item[b-enjgr9t7sp] {
  padding: 0 1rem;
}
.navbar-logo[b-enjgr9t7sp] {
  width: 100%;
  max-width: 300px;
}

/* Footer */
footer[b-enjgr9t7sp] {
  color: var(--sct-beige);
  background-color: var(--sct-espresso);
}
footer h4[b-enjgr9t7sp] {
  color: var(--sct-silver);
}
.footer-top[b-enjgr9t7sp] {
  background-color: var(--sct-roasted);
  padding: 3rem;
}
.footer-logo[b-enjgr9t7sp] {
  max-width: 300px;
}
.footer-social-icon[b-enjgr9t7sp] {
  background-color: var(--sct-beige);
}

/* Media Queries */

/* Size - Extra Small (XS: <576) */
@media (max-width: 575px) {
  /* Header Section */
  .navbar-logo[b-enjgr9t7sp] {
    width: 100%;
    max-width: 200px;
  }

  /* Footer Section */
  .footer-top[b-enjgr9t7sp] {
    padding: 1rem;
  }
  .footer-logo[b-enjgr9t7sp] {
    width: 100%;
    max-width: 250px;
  }
}

/* Size - Small (SM: 576-768) */
@media (min-width: 576px) and (max-width: 767px) {}

/* Size - Medium (MD: 768-992) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Size - Large (LG: 992-1200) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Size - Extra Large (XL: 1200-1400) */
@media (min-width: 1200px) and (max-width: 1399px) {}

/* Size - 2x Extra Large (XXL: >1400) */
@media (min-width: 1400px) {}