@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<section id="HeroSection" class="position-relative vh-100 text-center">
    @* <video autoPlay loop muted playsInline class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" autoplay muted loop playsinline>
        <source src="/video/line-background-video.mp4" type="video/mp4" />
    </video>
    <div class="position-absolute d-flex align-items-center justify-content-center top-0 start-0 w-100 h-100" aria-hidden="true" /> *@
    <div class="container hero-jumbotron">
        <h1 class="text-uppercase mb-3">Your Trusted Southern California Technology Guardian</h1>
        <h3 class="fst-italic my-3">Enterprise-grade cybersecurity and IT support delivered with clarity, honesty, and a human touch. We protect your business, so you can focus on growth.</h3>
        <a href="#" class="no-underline">
            <button class="py-3 px-5 my-3">Book Your Free Security Review</button>
        </a>
    </div>
</section>