/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navigation */
header.nav-link:focus, header.nav-link:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.navbar .container-fluid {
  padding: 0;
}
.navbar-nav .nav-item {
  padding: 0 1rem;
}
.navbar-logo {
  width: 100%;
  max-width: 300px;
}

/* Footer */
footer {
  color: var(--sct-beige);
  background-color: var(--sct-espresso);
}
footer h4 {
  color: var(--sct-silver);
}
.footer-top {
  background-color: var(--sct-roasted);
  padding: 3rem;
}
.footer-logo {
  max-width: 300px;
}
.footer-social-icon {
  background-color: var(--sct-beige);
}

/* Media Queries */

/* Size - Extra Small (XS: <576) */
@media (max-width: 575px) {
  /* Header Section */
  .navbar-logo {
    width: 100%;
    max-width: 200px;
  }

  /* Footer Section */
  .footer-top {
    padding: 1rem;
  }
  .footer-logo {
    width: 100%;
    max-width: 250px;
  }
}

/* Size - Small (SM: 576-768) */
@media (min-width: 576px) and (max-width: 767px) {}

/* Size - Medium (MD: 768-992) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Size - Large (LG: 992-1200) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Size - Extra Large (XL: 1200-1400) */
@media (min-width: 1200px) and (max-width: 1399px) {}

/* Size - 2x Extra Large (XXL: >1400) */
@media (min-width: 1400px) {}