/* Parallax Styles */
.parallax-bg { background-image: url("/img/background_1.jpg"); }

/* iFrame Styles */
iframe {
    display: block !important;
    width: 100% !important;
    border: none;
    margin: 0 auto;
}