/* /Pages/index.cshtml.rz.scp.css */
/* Page Styles */
.section-mt[b-pyisu74yc1] {
    padding-top: 6rem;
}

/* Hero Section */
#HeroSection[b-pyisu74yc1] {
    max-height: 600px;
}

/* Parallax Styles */
.parallax-bg-1[b-pyisu74yc1] {background-image: url("/img/oc-it-solutions-with-secure-circle-and-shield-horizontal.jpg");}
.parallax-bg-2[b-pyisu74yc1] {background-image: url("/img/background_5.jpg");}

.parallax-group[b-pyisu74yc1] {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding-bottom: 6rem;
}

/* Parallax Background Opacity */
.parallax-group[b-pyisu74yc1]::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: 0;
}

.parallax-group > section[b-pyisu74yc1] {
    position: relative;
    z-index: 1;
}

.parallax-group .container[b-pyisu74yc1] {
    background: rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

/* Protect Your Business */
#ProtectYourBusiness .card[b-pyisu74yc1] {
    background-color: transparent;
}
@media (max-width: 1199px) {
    #ProtectYourBusiness .card-body[b-pyisu74yc1] {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

/* Three Pillars Section */
#ThreePillars h1[b-pyisu74yc1],
#ThreePillars p[b-pyisu74yc1] {
    padding-bottom: 1rem;
}
#ThreePillars .card[b-pyisu74yc1] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
}
#ThreePillars .card img[b-pyisu74yc1] {
    width: 100%;
    max-width: 250px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
#ThreePillars .card-title[b-pyisu74yc1] {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Local Cybersecurity Section */
#LocalCybersecurity h1[b-pyisu74yc1],
#LocalCybersecurity p[b-pyisu74yc1] {
    padding-bottom: 1rem;
}
#LocalCybersecurity .card[b-pyisu74yc1] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
}
#LocalCybersecurity .card img[b-pyisu74yc1] {
    width: 100%;
    max-width: 250px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#LocalCybersecurity .card-title[b-pyisu74yc1] {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Help Desk Support Section */
#HelpDeskSupport .card[b-pyisu74yc1] {
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.20);
    border-left-color: var(--sct-maroon);
    border-left-width: 1rem;
}

#HelpDeskSupport .card-title[b-pyisu74yc1] {
    color: white;
    margin-bottom: 1rem;
}

/* Managed Cybersecurity Section */
#ManagedCybersecurity .card[b-pyisu74yc1] {
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

#ManagedCybersecurity .card-title[b-pyisu74yc1] {
    display: flex;
    align-items: top;
    color: var(--sct-beige);
    margin-bottom: 1rem;
    min-height: 2.5rem;
}


/* Media Queries */

/* Size - Extra Small (XS: <576) */
@media (max-width: 575px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 600px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }

    /* Parallax Styles */
    .parallax-group[b-pyisu74yc1] { padding: 0 1rem 3rem; }
}

/* Size - Small (SM: 576-768) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 650px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }
}

/* Size - Medium (MD: 768-992) */
@media (min-width: 768px) and (max-width: 991px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 800px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }
}

/* Size - Large (LG: 992-1200) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 600px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }
}

/* Size - Extra Large (XL: 1200-1400) */
@media (min-width: 1200px) and (max-width: 1399px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 600px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }
}

/* Size - 2x Extra Large (XXL: >1400) */
@media (min-width: 1400px) {
    /* Page Styles */
    .section-mt[b-pyisu74yc1] { padding-top: 3rem; }

    /* Hero Section */
    #HeroSection[b-pyisu74yc1] { max-height: 700px; }
    .hero-jumbotron[b-pyisu74yc1] { padding: 0 1rem !important; }
}
/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navigation */
header.nav-link:focus[b-enjgr9t7sp], header.nav-link:hover[b-enjgr9t7sp] {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.navbar .container-fluid[b-enjgr9t7sp] {
  padding: 0;
}
.navbar-nav .nav-item[b-enjgr9t7sp] {
  padding: 0 1rem;
}
.navbar-logo[b-enjgr9t7sp] {
  width: 100%;
  max-width: 300px;
}

/* Footer */
footer[b-enjgr9t7sp] {
  color: var(--sct-beige);
  background-color: var(--sct-espresso);
}
footer h4[b-enjgr9t7sp] {
  color: var(--sct-silver);
}
.footer-top[b-enjgr9t7sp] {
  background-color: var(--sct-roasted);
  padding: 3rem;
}
.footer-logo[b-enjgr9t7sp] {
  max-width: 300px;
}
.footer-social-icon[b-enjgr9t7sp] {
  background-color: var(--sct-beige);
}

/* Media Queries */

/* Size - Extra Small (XS: <576) */
@media (max-width: 575px) {
  /* Header Section */
  .navbar-logo[b-enjgr9t7sp] {
    width: 100%;
    max-width: 200px;
  }

  /* Footer Section */
  .footer-top[b-enjgr9t7sp] {
    padding: 1rem;
  }
  .footer-logo[b-enjgr9t7sp] {
    width: 100%;
    max-width: 250px;
  }
}

/* Size - Small (SM: 576-768) */
@media (min-width: 576px) and (max-width: 767px) {}

/* Size - Medium (MD: 768-992) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Size - Large (LG: 992-1200) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Size - Extra Large (XL: 1200-1400) */
@media (min-width: 1200px) and (max-width: 1399px) {}

/* Size - 2x Extra Large (XXL: >1400) */
@media (min-width: 1400px) {}
